@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
a {
  display: inline-block;
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --bg-body: #000;
  --primary-color: #c1a372;
}

ul {
  padding: 0;
}

body {
  background: black;
  font-family: "DM Sans", sans-serif;
}

.title1 {
  font-size: 48px;
  font-family: "Castoro Titling", serif;
}

.title2 {
  font-size: 45px;
  font-family: "Castoro Titling", serif;
}

.subtitle {
  font-size: 20px;
  letter-spacing: 1.3px;
}

.primary-btn {
  padding: 15px 30px;
  color: white;
  background: #631015;
  text-transform: uppercase;
}

.dummy-section {
  min-height: 100vh;
  background: var(--bg-body);
}

/* Navbar Section */

/* header-section */

header {
  background: var(--bg-black);
}

header .container {
  max-width: 1944px;
}

header a,
.follow-us {
  color: white;
}

.hdr-links span {
  margin-left: 10px;
}

.hdr-links:hover {
  color: var(--primary-color);
}

.hdr-links:hover svg path {
  stroke: var(--primary-color);
}

.support-links {
  gap: 50px;
}

.social-links ul {
  gap: 10px;
}

.hdr-top {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 20%);
}

.hdr-btm {
  position: relative;
}

.navbar-brand {
  width: 284px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  margin-right: 50px;
  text-wrap: nowrap;
}

.nav-link {
  color: white;
  padding: 0;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-color) !important;
}

.user-btn {
  padding: 0 20px;
}

.cart-btn:hover svg path,
.user-btn:hover svg path {
  stroke: var(--primary-color);
}

.cart-btn {
  position: relative;
}

.cart-btn::after {
  content: attr(data-attr);
  position: absolute;
  top: 6px;
  right: 11px;
  padding: 1px 4px;
  border-radius: 6px;
  background: var(--maroon-color);
  font-size: 13px;
}

.nav-item {
  position: relative;
}

.dropdown-link {
  cursor: pointer;
}

.dropdown-link + .sub-lists {
  position: absolute;
  top: 100%;
  background: #000000;
  padding: 10px 20px;
  display: none;
}

.dropdown-link:hover ~ ul.sub-lists,
.sub-lists:hover {
  display: block;
}

.offcanvas {
  flex-direction: row;
  align-items: center;
}

/* Banner Section */

.banner-whole {
  padding: 0 0 100px;
}

.banner-sec {
  min-height: 100vh;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/Hero-Section.png") no-repeat left/cover;
}

.banner-wrpr-section {
  position: relative;
}

.banner-wrpr {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.banner-wrpr .title1 {
  margin: 30px 0;
}

.subtitle > span {
  display: inline-block;
}

.circle {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  animation: rotationInfinite 8000ms linear infinite;
}

@keyframes rotationInfinite {
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  transform-origin: 0 100px;
}

.partner-hdr {
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 100px;
  /* font-family: var(); */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.partner-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.partner-swiper .swiper-slide {
  width: 143px;
  flex-shrink: 0;
}

.parnter-img {
  width: 100%;
}

.parnter-img > img {
  width: 100%;
  height: 42px;
  object-fit: contain;
}

/* Our Gallery Section */

.our-gallery-sec {
  padding: 120px 0;
  text-align: center;
}

.our-gallery-sec .subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  color: var(--text-color);
}

.our-gallery-sec .title2 {
  max-width: 800px;
  color: var(--text-color);
  margin: 0 auto;
}

.our-gallery-sec .title2 span {
  color: var(--primary-color);
}

.our-gallery-hdr {
  margin-bottom: 80px;
}

.our-gallery-sec .swiper-slide img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.our-gallery-sec .swiper-slide .gallery-img {
  max-width: 722px;
  margin: 0 auto;
  transition: 0.5s linear;
}

.our-gallery-sec .swiper-slide .gallery-img {
  transform: scaleY(0.8);
}

.our-gallery-sec .swiper-slide.swiper-slide-active .gallery-img {
  transform: scaleY(1.1);
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .support-links {
    gap: 15px;
  }
  .nav-logo {
    position: static;
    transform: none;
  }
  .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    /* z-index: 9999; */
    transition: 0.5s linear;
  }
  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--text-color);
    transition: 0.5s linear;
  }
  .navbar-toggler::after,
  .navbar-toggler::before {
    transition: 0.5s linear;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--text-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }
  .navbar-toggler::after {
    top: -7px;
  }
  .offcanvas {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding-top: 126px;
  }
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  .nav-item {
    margin: 0 0 20px;
  }
  .nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-btn {
    width: fit-content;
  }
  .offcanvas-header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .offcanvas-header .btn-close {
    background: none;
    position: relative;
    display: flex;
    align-items: center;
  }

  .offcanvas-header .btn-close::after,
  .offcanvas-header .btn-close::before {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--text-color);
    position: absolute;
    left: 0;
    right: 0;
  }

  .offcanvas-header .btn-close::after {
    transform: rotate(45deg);
  }

  .offcanvas-header .btn-close::before {
    transform: rotate(-45deg);
  }

  /* .navbar-toggler.animate {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  .navbar-toggler.animate > span {
    transform: translateX(-40px);
    opacity: 0;
  }
  .navbar-toggler.animate::after {
    transform: rotate(45deg) translateX(8px);
  }
  .navbar-toggler.animate::before {
    transform: rotate(-45deg) translateX(8px);
  } */
}

@media screen and (max-width: 992px) {
  /* header-section */
  .call-btn,
  .support-links {
    margin-bottom: 15px;
  }

  .support-links {
    justify-content: center;
  }

  /* Banner Section */
  .banner-sec {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    max-width: 170px;
  }
  .offcanvas {
    padding-top: 200px;
  }
  .hdr-links {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 32px;
  }
  .subtitle {
    font-size: 16px;
  }
}
