@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

a {
  display: inline-block;
  text-decoration: none;
}

:root {
  --text-color: #fff;
  --bg-black: #000;
  --primary-color: #c1a372;
}

ul,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.title1 {
  font-size: 48px;
  font-family: "Castoro Titling", serif;
}

.title2 {
  font-size: 45px;
  font-family: "Castoro Titling", serif;
}

.subtitle {
  font-size: 20px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.primary-btn {
  padding: 15px 30px;
  color: white;
  background: #631015;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: fit-content;
  text-wrap: nowrap;
}

.dummy-section {
  min-height: 100vh;
  background: var(--bg-body);
}

/* Navbar Section */

/* header-section */

header {
  background: var(--bg-black);
}

header .container {
  max-width: 1944px;
}

header a,
.follow-us {
  color: white;
}

.hdr-links span {
  margin-left: 10px;
}

.hdr-links:hover {
  color: var(--primary-color);
}

.hdr-links:hover svg path {
  stroke: var(--primary-color);
}

.support-links {
  gap: 50px;
}

.social-links ul {
  gap: 10px;
}

.hdr-top {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 20%);
}

.hdr-btm {
  position: relative;
}

.navbar-brand {
  width: 284px;
}

.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-item {
  margin-right: 50px;
  text-wrap: nowrap;
}

.nav-link {
  color: white;
  padding: 0;
}

.nav-link.active,
.nav-link:hover {
  color: var(--primary-color) !important;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-btn {
  padding: 0 20px;
}

.cart-btn:hover svg path,
.user-btn:hover svg path {
  stroke: var(--primary-color);
}

.cart-btn {
  position: relative;
}

.cart-btn::after {
  content: attr(data-attr);
  position: absolute;
  top: 6px;
  right: 11px;
  padding: 1px 4px;
  border-radius: 6px;
  background: var(--maroon-color);
  font-size: 13px;
}

.nav-item {
  position: relative;
}

.dropdown-link {
  cursor: pointer;
}

.dropdown-link + .sub-lists {
  position: absolute;
  top: 100%;
  background: #000000;
  padding: 10px 20px;
  display: none;
}

.dropdown-link:hover ~ ul.sub-lists,
.sub-lists:hover {
  display: block;
}

.offcanvas {
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .support-links {
    gap: 15px;
  }
  .nav-logo {
    position: static;
    transform: none;
  }
  .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    /* z-index: 9999; */
    transition: 0.5s linear;
  }
  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--text-color);
    transition: 0.5s linear;
  }
  .navbar-toggler::after,
  .navbar-toggler::before {
    transition: 0.5s linear;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--text-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }
  .navbar-toggler::after {
    top: -7px;
  }
  .offcanvas {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding-top: 126px;
  }
  .navbar-nav {
    margin: 0 auto;
    text-align: center;
  }
  .nav-item {
    margin: 0 0 20px;
  }
  .cart-btn {
    width: fit-content;
  }
  .offcanvas-header {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .offcanvas-header .btn-close {
    background: none;
    position: relative;
    display: flex;
    align-items: center;
  }

  .offcanvas-header .btn-close::after,
  .offcanvas-header .btn-close::before {
    content: "";
    height: 2px;
    width: 30px;
    background: var(--text-color);
    position: absolute;
    left: 0;
    right: 0;
  }

  .offcanvas-header .btn-close::after {
    transform: rotate(45deg);
  }

  .offcanvas-header .btn-close::before {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 992px) {
  /* header-section */
  .call-btn,
  .support-links {
    margin-bottom: 15px;
  }

  .support-links {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    max-width: 170px;
  }
  .offcanvas {
    padding-top: 200px;
  }
  .hdr-links {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .title1 {
    font-size: 32px;
  }
  .title2 {
    font-size: 28px;
  }
  .subtitle {
    font-size: 16px;
  }
}
